<h1>Pizzas</h1>
<ul>
  <% pizzas.forEach(function(pizza) { %>
    <li>
      <strong><%= pizza.name %></strong>
      <p>Toppings: <%= pizza.toppings.join(', ') %></p>
      <p>Price: $<%= pizza.price.toFixed(2) %></p>
      <!-- Edit link -->
      <a href="/pizzas/edit/<%= pizza._id %>">Edit</a>
      <!-- Delete link -->
      <a href="/pizzas/delete/<%= pizza._id %>">Delete</a>
    </li>
  <% }); %>
</ul>
